/********************************/
/*estilos generales de la página*/
/********************************/
* { /*reseteo todos los elementos para que por default tengan 
	un margen 0 y padding 0 y un modelo de caja tipo border-box*/
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', 'Open Sans', sans-serif; /*especifico el nombre y familia de la tipografia a usar*/
}
html {
  scroll-behavior: smooth; /*para desplazarse "scrolear" suavemente dentro de la página al presionar un enlace*/
}

body {
    background-color: #A9B9D9; /* Fondo principal azul grisáceo */
    color: #333333; /* Color de texto general */
}

/***************************************************/


/**********************************/
/*estilos para header de la página*/
/**********************************/
header {/*caracteristicas elementos dentro del header de la pagina*/
	font-size: 24px; /*tamaño de las fuentes que aprecen en el header*/
  	background-color: #D9CDB8;  /*color fondo encabezado - BEIGE */
    height: 130px;  /* altura del encabezado, equivale a 5.5em*/
    padding-left: 10%; /*hago un espacio a la izquierda al interior del contenedor header de 10% del ancho del viewport*/
    padding-right: 10%; /*hago un espacio a la derecha al interior del contenedor header de 10% del ancho del viewport*/
  	box-shadow: 0px 1px 8px rgba(0,0,0,0.2); /*efecto de material con sombreado sobre el fondo*/
    transition: 100ms; /*para la transicion con media queries diseño responsivo*/
}
@media screen and (max-width: 700px) {
header {
	height: 260px;  /* altura del encabezado, equivale a 5.5em*/
	}
}
.menu-container {/*caracteristicas elementos en contenedor con la clase menu-container*/
  	display: flex; /*tipo de layout felxbox*/
  	flex-direction: column; /*rederizara/dibujara los items/elementos hijos en el layout 
  	como una columna, un contenedor o un item sobre el otro */
}
.identificador {/*caracteristicas elementos en contenedor con la clase identificador*/
  	/*border: 5px solid #222;  /* For debugging */
  	width: 100%; /*ancho que tendra el contenedor con clase menu*/
  	display: flex; /*sera un elemento/item de tipo flex*/
  	justify-content: center; /*defino la alineación horizontal de los items hijos al centro*/
}
.identificador img{/*caracteristicas imagen identificadora dentro del contenedor con clase identificador*/
	margin-top: 15px; /*un margen arriba de 15 px*/
    height: 54.61px; /*ancho que tendra la imagen identificadora*/
}
.ligas-secciones{/*caracteristicas elementos en contenedor con la clase secciones*/
	/*border: 5px solid #555;  /* For debugging */
	width: 100%; /*ancho que tendra el contenedor con clase menu*/
	display: flex; /*sera un elemento/item de tipo flex*/
	justify-content: space-between; /*defino la alineación horizontal de los items hijos diciendo
	cuando hay mas de uno distribuya el esapcio restante entre los espacios de cada elemento/item*/
}
.ligas-secciones a{/*caracteristicas elementos tipo enlace dentro del contenedor con clase secciones*/
	color: #A62121; /*color que tendran las fuentes de los enlaces - ROJO VINO */
	text-decoration: none; /*le quito decoraciones a los enlaces, saeln sin subrayar ahora*/
  	font-weight: bold; /*tipo de letra bold*/
 	margin-top: 10px;
 	transition: 50ms; /*para la transicion con media queries diseño responsivo*/
}
.ligas-secciones a:hover{
  transform: scale(1.03);
  transition: 50ms;
  color: #0583F2; /* Azul vibrante al hover */
}
/**media query cuando ancho es menor o igual a 700px**/
@media screen and (max-width: 700px) {
  .ligas-secciones {
    flex-direction: column;
    text-align: center;
    }
 }
/***************************************************/







/********************************/
/*estilos para body de la página*/
/********************************/
.secciones {/*caracteristicas elementos en contenedor con la clase menu-container*/
  	display: flex; /*tipo de layout felxbox*/
  	flex-direction: column; /*rederizara/dibujara los items/elementos hijos en el layout 
  	como una columna, un contenedor o un item sobre el otro */
  	padding-left: 10%; /*hago un espacio a la izquierda al interior del contenedor header de 10% del ancho del viewport*/
    padding-right: 10%; /*hago un espacio a la derecha al interior del contenedor header de 10% del ancho del viewport*/
}

/* COLORES ALTERNANTES PARA SECCIONES */
.seccion-contenedor:nth-child(odd) {
    background-color: #A9B9D9; /* Azul grisáceo para secciones impares */
}

.seccion-contenedor:nth-child(even) {
    background-color: #D9CDB8; /* Beige para secciones pares */
}

.texto-secc {
	display: flex; /*sera un elemento/item de tipo flex*/
	flex-direction: column; /*rederizara/dibujara los items/elementos hijos en el layout 
  	como una columna, un contenedor o un item sobre el otro */
    text-align: center; /* Centrar todo el texto */
}
.texto-secc h1{
	display: flex; /*sera un elemento/item de tipo flex*/
	justify-content: center; /*defino la alineación horizontal de los items hijos al centro*/
	margin-top: 25px;
    color: #0583F2; /* Azul vibrante para títulos */
}
.texto-secc p{
	font-size: 18pt;
	display: flex; /*sera un elemento/item de tipo flex*/
	margin-top: 10px;
    justify-content: center; /* Centrar párrafos */
}
.contenedor-imagen {
  	display: flex; /*sera un elemento/item de tipo flex*/
  	flex-direction: column;
  	align-items: center;
}
.imgs-secc-1{
	display: flex; /*sera un elemento/item de tipo flex*/
  	flex-direction: column;
  	align-items: center; 
}

/* NUEVOS ESTILOS PARA DISPOSICIÓN VERTICAL CENTRADA */
.imgs-secc-1-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.imagen-texto-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.imagen-texto-vertical img {
    max-width: 70%;
    height: auto;
    margin: 0 auto 15px auto;
    display: block;
    border-radius: 10px;
}

.imagen-texto-vertical p {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 16pt;
    font-style: italic;
}

.espacio-entre-imagenes {
    height: 40px;
    width: 100%;
}

.par-imgs-escritorio{/*caracteristicas elementos en contenedor con la clase secciones*/
	/*border: 5px solid #555;  /* For debugging */
	width: 65%; /*ancho que tendra el contenedor con clase menu*/
	display: flex; /*sera un elemento/item de tipo flex*/
	justify-content: space-around; /*defino la alineación horizontal de los items hijos diciendo
	cuando hay mas de uno distribuya el esapcio restante entre los espacios de cada elemento/item*/
}
.par-imgs-escritorio img{
	width: 50%;
	display: flex; /*sera un elemento/item de tipo flex*/
}
.par-imgs-escritorio img:hover{
  transform: scale(1.03);
  transition: 200ms;
}
.par-imgs-escritorio p{
	width: 40%;
	font-size: 16pt;
	font-style: italic;
	text-align: center;
	display: flex; /*sera un elemento/item de tipo flex*/
}
.par-imgs-mobile{/*caracteristicas elementos en contenedor con la clase secciones*/
	display: none;
}
.par-imgs-mobile img{
	display: none;
}
.par-imgs-mobile p{
	display: none;
}
/**media query cuando ancho es menor o igual a 700px**/
@media screen and (max-width: 700px) {
	.texto-secc p{
		font-size: 14pt;
	}
	.par-imgs-escritorio{/*caracteristicas elementos en contenedor con la clase secciones*/
		display: none;
	}
	.par-imgs-escritorio img{
		display: none;
	}
	.par-imgs-escritorio img:hover{
	 	display: none;
	}
	.par-imgs-escritorio p{
		display: none;
	}
	.par-imgs-mobile{/*caracteristicas elementos en contenedor con la clase secciones*/
		/*border: 5px solid #555;  /* For debugging */
		width: 100%; /*ancho que tendra el contenedor con clase menu*/
  		display: flex; /*sera un elemento/item de tipo flex*/
  		flex-direction: column;
  		align-items: center; 
	}
	.par-imgs-mobile img{
		width: 100%;
		transition: 200ms;
		display: flex; /*sera un elemento/item de tipo flex*/
	}
	.par-imgs-mobile img:hover{
	 	transform: scale(1.03);
  		transition: 200ms;
	}
	.par-imgs-mobile p{
		width: 100%;
		font-size: 12pt;
		font-style: italic;
		text-align: center;
		display: flex; /*sera un elemento/item de tipo flex*/
	}
 }
.contenedor-imagen img{
	display: flex; /*sera un elemento/item de tipo flex*/
	width: 50%;
	transition: 200ms;
}
.contenedor-imagen img:hover{
  transform: scale(1.03);
  transition: 200ms;
}
.contenedor-imagen p{
	width: 50%;
	text-align: center;
	font-size: 16pt;
	font-style: italic;
	display: flex; /*sera un elemento/item de tipo flex*/
    justify-content: center;
}
/**media query cuando ancho es menor o igual a 700px**/
@media screen and (max-width: 700px){
	.contenedor-imagen img{
		width: 100%;
		transition: 200ms;
	}
	.contenedor-imagen p{
		width: 100%;
		font-size: 12pt;
	}
}
.contenedor-imagen-secc4{
	display: flex; /*sera un elemento/item de tipo flex*/
  	flex-direction: column;
  	align-items: center;
}
.contenedor-imagen-secc4 p{
	width: 80%;
	text-align: center;
	font-style: italic;
	font-size: 16pt;
	display: flex; /*sera un elemento/item de tipo flex*/
    justify-content: center;
}
.contenedor-imagen-secc4 img{
	display: flex; /*sera un elemento/item de tipo flex*/
	width: 80%;
	transition: 200ms;
}
.contenedor-imagen-secc4 img:hover{
  transform: scale(1.03);
  transition: 200ms;
}
/**media query cuando ancho es menor o igual a 700px**/
@media screen and (max-width: 700px){
	.contenedor-imagen-secc4 p{
		width: 100%;
		font-size: 12pt;
	}
	.contenedor-imagen-secc4 img{
		display: flex; /*sera un elemento/item de tipo flex*/
		width: 100%;
		transition: 200ms;
	}
}
/***************************************************/






/**********************************/
/*estilos para footer de la página*/
/**********************************/
footer {
  	background-color: #359AF2;/*color fondo pie de pagina - AZUL MEDIO */
    color: white;
  	margin-top: 40px;
  	box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
  	display: flex; /*sera un elemento/item de tipo flex*/
  	flex-direction: column;
  	align-items: center; 
}
.footer-item{
	margin-top: 47px;
	width: 100%;
  	display: flex; /*sera un elemento/item de tipo flex*/
  	justify-content: center; /*defino la alineación horizontal de los items hijos al centro*/
}
.footer-item img{
	height: 60px;
	margin-right: 35px;
    transition: 200ms;
}
.footer-item img:hover{
    transform: scale(1.1);
    transition: 200ms;
}
.copyright{
	font-size: 17pt;
	text-align: center;
	margin-top: 49px;
	margin-bottom: 95px;
    color: #D9CDB8; /* Beige para el texto de copyright */
}
/**media query cuando ancho es menor o igual a 700px**/
@media screen and (max-width: 700px){
	.footer-item{
  		flex-direction: column;
  		align-items: center; 
	}
	.footer-item img{
		height: 50px;
		margin-top: 35px;
		margin-right: 0px;
	}
	.copyright{
		font-size: 12pt;
	}
}
/***************************************************/





/*********************************/
/*estilos para icono hacia arriba*/
/*********************************/
.ir-arriba {
  	display: flex; /*sera un elemento/item de tipo flex*/
  	flex-direction: column;
  	align-items: center; 
}
.ir-arriba img{
  	height: 60px;
  	padding-right: 30px;
  	text-decoration: none;
  	cursor:pointer;
  	position:fixed;
 	bottom:20px;
    background-color: #A62121; /* Rojo vino de fondo */
    border-radius: 50%;
    padding: 10px;
    transition: 200ms;
}
/**media query cuando ancho es menor o igual a 700px**/
@media screen and (max-width: 700px){
	.ir-arriba img{
		height: 50px;
  		padding-right: 0px;
	}
}
.ir-arriba img:hover{
	transform: scale(1.1);
  	transition: 100ms;
    background-color: #0583F2; /* Azul al hover */
}
/***************************************************/
